[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiohttp = "*"
pottery = "*"
python-bugzilla = "*"
beautifulsoup4 = "*"
lunr = "*"
python-dateutil = "*"
feedparser = "*"
python-twitter = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
